<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lisa Simpson, the woman, the legend</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav class="nav-bar">
      <a class="nav-bar-element" href="/">Home</a>
      <a class="nav-bar-element" href="/contact">Contact</a>
    </nav>
    <main>
      <div class="contact-div">
      </div>
      <h1>How to contact Lisa Simpson</h1>
      <p>Honestly you can't, because she's not real.</p>

    </main>
  </body>
</html>