<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lisa Simpson, the woman, the legend</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav class="nav-bar">
      <a class="nav-bar-element" href="/about">About</a>
      <a class="nav-bar-element" href="/contact">Contact</a>
    </nav>
    <main>
      <div class="central-div">
      </div>
      <h1>Lisa Simpson</h1>
      <p>Find here more info about one of the most influential women of our
        time, the middle child of the Simpson Family. The one and only Lisa
        Simpson!</p>

    </main>
  </body>
</html>